<div id="homePage">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="Bootstrap" width="90" height="65">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active " href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " href="#examsSection">Our Tests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " href="#">Contact Us</a>
            </li>
            
          </ul>
          <form class="d-flex" role="search">
            <button type="button" class="btn btn-outline-primary btn-rounded nav_action" data-mdb-ripple-color="dark" routerLink="/loginPage">Login</button>
            <button type="button" class="btn btn-primary btn-rounded nav_action" routerLink="/signUpPage">Register/Sign Up</button>

            <button type="button" class="btn btn-danger btn-rounded nav_action">Log Out</button>
          </form>
        </div>
      </div>
    </nav>

    <div id="heroSection">

      <div class="heroContent">
        <h1>Crack Interview with a formulated Smart practice!<br></h1>
            <h4>Aiming for cracking a Interview? Then you should begin here!</h4>
            <button type="submit" class="btn-pink submit-btn justify-content-center" >Sign Up Now<i class="fas fa-sign-in" style="margin-left: 10px;"></i></button>
        
      </div>
      
        <img src="assets/heroImg.png" class="heroImage">
      
    
    </div>
    
    <h2 style=" text-align: center; margin-top: 30px; margin-bottom: 30px;" >Your Practice and Accuracy Influences Your Results ..!!
    </h2>
    <div id="examsSection">
      <div class="row g-3 examRow justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
          <div class="card exam">
            <img src="assets/Exam_Images/Exam1.jpg" class="card-img-top displayImg" alt="..." style="height: 195px;">
            <h4 class="examHeading">Python</h4>
            <div class="examContent">
              <p>Prepare for Python Interview with Questions from Top MNC's</p>
              <button type="submit" class="btn-pink submit-btn test-btn">Take Test<i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
          <div class="card exam">
            <img src="assets/Exam_Images/Exam2.webp" class="card-img-top displayImg" alt="..." style="height: 195px;">
            <h4 class="examHeading">Java</h4>
            <div class="examContent">
              <p>Prepare for Java Interview with Questions focused on OOP's</p>
              <button type="submit" class="btn-pink submit-btn test-btn">Take Test<i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
          <div class="card exam">
            <img src="assets/Exam_Images/Exam3.jpg" class="card-img-top displayImg" alt="..." style="height: 195px;">
            <h4 class="examHeading">C#</h4>
            <div class="examContent">
              <p>Prepare for C# Interview with Questions from LeetCode</p>
              <button type="submit" class="btn-pink submit-btn test-btn">Take Test<i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
          <div class="card exam">
            <img src="assets/Exam_Images/Exam4.png" class="card-img-top displayImg" alt="..." style="height: 195px;">
            <h4 class="examHeading">Aptitude</h4>
            <div class="examContent">
              <p>Prepare for Aptitude Exam from Curated Topics</p>
              <button type="submit" class="btn-pink submit-btn test-btn">Take Test<i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
          <div class="card exam">
            <img src="assets/Exam_Images/Exam5.png" class="card-img-top displayImg" alt="..." style="height: 195px;">
            <h4 class="examHeading">DBMS</h4>
            <div class="examContent">
              <p>Prepare for DBMS Interview with Questions from Top MNC's </p>
              <button type="submit" class="btn-pink submit-btn test-btn">Take Test<i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
          <div class="card exam">
            <img src="assets/Exam_Images/Exam6.jpg" class="card-img-top displayImg" alt="..." style="height: 195px;">
            <h4 class="examHeading">Operating Systems</h4>
            <div class="examContent">
              <p>Prepare for OS Interview with Questions from Top MNC's </p>
              <button type="submit" class="btn-pink submit-btn test-btn">Take Test<i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div id="reviewSection" class="mt-4">
      <img src="assets\dottedrows.png" alt="blob" id="blob1" />
      <img src="assets\dottedrows.png" alt="blob" id="blob2" />
      <div class="text-center">
        <h1 id="reviewHeading">Success Stories</h1>
        <div id="successBar"></div>
        <p id="successDesc">Our students come from wide spectrum of backgrounds ranging from undergrads at small engineering
          colleges to experienced engineers at Amazon/Samsung/Expedia.</p>
      </div>
      <div class="row g-5 mx-auto mt-4">
        <!-- Card 1 -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="d-flex flex-column align-items-center box">
                    <img src="assets\Reviews\review1.jpg" width="100px" height="100px" class="rounded-circle">
                    <p class="pt-4 pb-4">I can't thank this interview preparation website enough for helping me land my dream job at Amazon. The practice tests for Python were incredibly comprehensive, covering all the important topics. </p>
                    
                    <h6 class="fw-bold">- Raghav Kumar</h6>
                    <div class="d-flex col-10 justify-content-center  gap-3">
                        SDE 1 @ <img src="assets\Reviews\Amazon_logo.svg.png" width="50px" height="25px">
                    </div>
                </div>
            </div>

        <!-- Card 2 -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="d-flex flex-column align-items-center box">
                    <img src="assets\Reviews\review2.jpeg" width="100px" height="100px"  class="rounded-circle">
                   
                   <p class="pt-4 pb-4">I'm thrilled to say that I got hired at Google, and this interview preparation website played a significant role in my success. The C# practice tests were spot on, covering a wide range of concepts and difficulty levels. </p>
                   <h6 class="fw-bold">- Vijay</h6>
                   <div class="d-flex col-10 justify-content-center  gap-3">
                    SDE 1 @ <img src="assets\Reviews\Google_Logo.jpg" width="50px" height="30px">
                </div>
                </div>

            </div>
        <!-- Card 3 -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="d-flex flex-column align-items-center box">
                    <img src="assets\Reviews\review3.webp" width="100px" height="100px"  class="rounded-circle">
                    <p class="pt-4 pb-4">Thanks to this amazing interview preparation website, I was able to crack the Java interview at XYZ Company. The extensive coverage of Java topics and the option to review detailed explanations made all the difference.</p>         
                    <h6 class="fw-bold">- Ranvir Singh</h6>          
                    <div class="d-flex col-10 justify-content-center gap-3">
                      SDE 1 @ <img src="assets\Reviews\Microsoft_Logo.jpg" width="70px" height="30px" >
                  </div>
                </div>
            </div>

    </div>
    </div>

    <footer>
      <div class="foot d-flex flex-lg-row flex-column justify-content-between">
        <div class="foot_box">
          <img src="assets/logo.png" width="150px" height="150px">

        </div>
        
          <div class="foot_box">
              <h5 class="fw-bold">Quick Links</h5>
              <a href="#heroSection"><p>Home</p></a>
              <a href="#"><p>Login</p></a>
              <a href="#"><p>Sign Up</p></a>
              <a href="#"><p>Tests</p></a>
              <a href="#"><p>Contact Us</p></a>
              
          </div>
          <div class="foot_box">
              <h5 class="fw-bold">Contact Us</h5>
              <div>
                <h4>Interview Prep</h4>
                <p class="pb-3">G275, BTM Phase 2, H-Block, Silk Board, Bengaluru-56006<br>
                  <i class="fa-solid fa-phone"></i>+91 83920283922<br>
                  <i class="fa-solid fa-envelope"></i> Support@prep.com
                </p>
              </div>
              
          </div>
          <div class="foot_box">
              <div class="social_media">
                  <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-youtube"></i></a>
  
              </div>
          </div>
      </div>
      <div class="text-center pt-2 pb-2" style="background-color: #F4F4F4;">
        ©  2023 InterviewPrep.com. All rights reserved. Privacy Policy.
      </div>
  </footer>
 

</div>