<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/logo.png" alt="Bootstrap" width="90" height="65">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " href="#">Home</a>
           </li>
          <li class="nav-item">
            <a class="nav-link active " href="#">Our Tests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="#">Contact Us</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
           <button type="button" class="btn btn-outline-primary btn-rounded nav_action" data-mdb-ripple-color="dark" routerLink="/loginPage">Login</button>
           <button type="button" class="btn btn-primary btn-rounded nav_action" routerLink="/signUpPage">Register/Sign Up</button>

           <button type="button" class="btn btn-danger btn-rounded nav_action">Log Out</button>
        </form>
      </div>
    </div>
  </nav>
  