.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
thead th{
    background-color: #3C1975;
    color: white;
}
thead tr th{
    font-size: 14px;
}
tbody tr td{
    font-size: 12px;

}
table{
    margin: auto;
}

.dropdown-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px; 
    margin-bottom: 10px;
}

#example {
    width: 100%; /* Adjust as needed */
  }
  .Pass{
    
    color: green;
  }
  .Fail{
    color: red;
  }
  .review{
    color: white;
    background-color: #3C1975;
    transform: scale(1);
    box-shadow: 3px 3px 3px gray;
    font-size: 12px;

    transition: all 0.3s ease-in-out;

}
.review:hover{
    transform: scale(0.95);
    box-shadow: 2px 2px 2px gray;
    transition: all 0.3s ease-in-out;

}