.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
thead th{
    background: darkblue;
    color: white;
}
thead tr th{
    font-size: 14px;
}
tbody tr td{
    font-size: 12px;

}
table{
    margin: auto;
}
thead {
    background: rgb(1, 1, 42);
    color: white;
}
.dropdown-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px; 
    margin-bottom: 10px;
}

#example {
    width: 100%; /* Adjust as needed */
  }
  